{% extends "template.html" %}
{% block conteudo %}   

<style>
h3 {
    text-align: center;
}
h4 {
  margin-top: 20px;
}

.conteudo-central {
  margin-top: 20px;
}

</style>

        <div class="conteudo-central" id="div-lateral">
          <h3>Apresentação</h3>
          <p>O Grupo de Estudos e Desenvolvimento de Objetos Virtuais de Aprendizagem (GEDOVA), é um projeto de pesquisa, criando
          em 2015, vinculado a Unidade Acadêmica de Ciências Exatas   e da Natureza (UACEN), do Centro de Formação de
           Professores (CFP), da Universidade Federal de Campina Grande (UFCG), campus de Cajazeiras.</p>
          <h4>Atividades desenvolvidas no projeto:</h4>
          <ul>
            <li>Estudos e desenvolvimento de Objetos Virtuais de Aprendizagem (OVA);</li>
            <li>Realização de sequências de didáticas usando OVA;</li>
            <li>Participação em eventos relacionados ao tema;</li>
            <li>Capacitação para o uso e desenvolvimento de OVA através de palestras, oficinas e minicursos;</li>
            <li>Publicação de artigos em periódicos e em eventos nacionais/internacionais;</li>
            <li>Publicação de livros nos formatos impresso e digital. </li>
          </ul>

        </div>
{% endblock %}
       