{% extends "template.html" %}
{% block conteudo %}
<div class="conteudo-central">
            <input type="text" name="" class="form-control pesquisa" placeholder="Digite a sua categoria principal">
                    <ul class="animacoes lista">
                        <li class="categoria" nome="animação">
                            <a href="/animacao">                               
                                <img src="/static/img/imagensparasubp/anima (1).png" alt="Animações">
                            </a>
                        </li>
                        <li class="categoria" nome="audios">
                            <a href="/audio">
                                <img src="/static/img/imagensparasubp/audio.png" alt="Áudios">
                            </a>
                        </li>
                        <li class="categoria" nome="hipertextos">
                            <a href="/hipertexto">
                                <img src="/static/img/imagensparasubp/hipertexto.png" alt="Hipertextos">
                            </a>
                        </li>
                        <li class="categoria" nome="imagens">
                            <a href="/imagens">
                                <img src="/static/img/imagensparasubp/imagens (1).png" alt="Imagens">
                            </a>
                        </li>
                        <li class="categoria" nome="jogos">
                            <a href="/jogos">
                                <img src="/static/img/imagensparasubp/jogos.png" alt="Jogos">
                            </a>
                        </li>
                        <li class="categoria" nome="mapa conceitual">
                            <a href="/mapaconceitual">
                                <img src="/static/img/imagensparasubp/mapa conceitual.png" alt="Mapa Conceitual">
                            </a>
                        </li>
                        <li class="categoria" nome="mapa">
                            <a href="/mapas">
                                <img src="/static/img/imagensparasubp/mapa.png" alt="Mapa">
                            </a>
                        </li>
                        <li class="categoria" nome="quiz">
                            <a href="/quiz">
                                <img src="/static/img/imagensparasubp/quiz.png" alt="Quiz">
                            </a>
                        </li>
                        <li class="categoria" nome="videos">
                            <a href="/videos">
                                <img src="/static/img/imagensparasubp/videos.png" alt="Vídeos">
                            </a>
                        </li>
        </div> 
{% endblock %}    