{% extends "template.html" %}
{% block conteudo %}   
        <div class="conteudo-central" id="div-lateral">
          <br>
          <p>O GEDOVA considerando as suas atividades com objetos virtuais (digitais) de aprendizagem, entendo estes recursos de 
            acordo com as seguintes definições.</p>
          <p>“Qualquer recurso digital que possa ser reutilizado para o suporte ao ensino”, <em><strong>(WILEY, 2002, p.3).</strong></em></p>
          <p>“Um recurso digital reutilizável que auxilie na aprendizagem de algum conceito e, ao mesmo tempo, estimula o desenvolvimento de capacidades pessoais, como por exemplo, imaginação e criatividade. Dessa forma, um objeto virtual de aprendizagem pode tanto contemplar um único conceito quanto englobar todo o corpo de uma teoria. Pode ainda compor um percurso didático, envolvendo um conjunto de atividades, focalizando apenas determinado aspecto do conteúdo envolvido, ou formando, com exclusividade, a metodologia adotada para determinado trabalho”, <em><strong>(SPINELLI, 2007, p. 7).</strong></em></p>
        </div>
{% endblock %}
       