{% extends "template.html" %}
{% block conteudo %}   

<style>
.links {
  color: black;
  text-decoration: underline;
}
.links:hover {
  color: blue;
  opacity: 0.7;
}
.card-title{
  text-align: center;
}

.card img {
  width: 180px;
  margin: 0 auto;
}

#img-alta {
  height: 250px;
}

small {
 font-style: italic;
}

</style>
        <div class="conteudo-central" id="div-lateral">
          <div class="card">
            <div class="card-group">
              <div class="card">
                <img src="/static/img/imagens da apresentação/ft1.png" class="card-img-top" alt="Francisco José">
                <div class="card-body">
                  <h5 class="card-title">Francisco José de Andrade <br>(Coordenador)</h5>
                  <p class="card-text">Doutor em Matemática pela Universidade Federal do Ceará (UFC). Mestre em Matemática pela UFC. Graduado em Licenciatura em Ciências – Habilitação em Matemática pela Universidade Federal da Paraíba (UFPB). Professor Associado da Unidade Acadêmica de Ciências Exatas e da Natureza (UACEN) da Universidade Federal de Campina Grande. Coordenador do Grupo de Estudos e Desenvolvimento de Objetos Virtuais de Aprendizagem (GEDOVA).</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Lattes: http://lattes.cnpq.br/4140868846113880</small>
                </div>
              </div>
              <div class="card">
                <img src="/static/img/imagens da apresentação/ft2.png" class="card-img-top " alt="Adriana Moreira">
                <div class="card-body">
                  <h5 class="card-title">Adriana Moreira de Souza Corrêa (Colaboradora)</h5>
                  <p class="card-text">Mestra em Ensino pela Universidade do Estado do Rio Grande do Norte (UERN). Docente da disciplina Língua Brasileira de Sinais na Universidade Federal de Campina Grande (UFCG). Colaboradora do Grupo de Estudos e Desenvolvimento de Objetos Virtuais de Aprendizagem (GEDOVA).</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Lattes: http://lattes.cnpq.br/7748176565683643</small>
                </div>
              </div>
              <div class="card">
                <img src="/static/img/imagens da apresentação/ft3.png" class="card-img-top" alt="Alanna Gadelha">
                <div class="card-body">
                  <h5 class="card-title">Alanna Gadelha Batista <br>(Colaboradora)</h5>
                  <p class="card-text">Pós-graduada em Gestão e organização da escola com ênfase em coordenação e orientação escolar pela UNOPAR. Pós-graduanda em Neuropsicopedagogia na Faculdade de Ciências Administrativas e de Tecnologia (FATEC).  Colaboradora do Grupo de Estudos e Desenvolvimento de Objetos Virtuais de Aprendizagem (GEDOVA). Professora da Educação Infantil e Anos Iniciais do Ensino Fundamental. Graduada em Pedagogia pela Universidade Federal de Campina Grande (UFCG).</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Lattes: http://lattes.cnpq.br/0208833421722233</small>
                </div>
              </div>
            </div>
        </div>
        <div class="card">
          <div class="card-group">
            <div class="card">
              <img src="/static/img/imagens da apresentação/ft4.png" class="card-img-top" alt="Edilson Leite">
              <div class="card-body">
                <h5 class="card-title">Edilson Leite da Silva <br>(Colaborador)</h5>
                <p class="card-text">Doutorando do Programa de Pós-Graduação em Ciência da Informação (PPGCI) da Universidade Federal da Paraíba (UFPB). Mestre em Ciência da Computação pelo Centro de Informática (CIn) da Universidade Federal de Pernambuco (UFPE). Professor do Centro de Formação de Professores (CFP) da Universidade Federal de Campina Grande (UFCG). Colaborador do Grupo de Estudos e Desenvolvimento de Objetos Virtuais de Aprendizagem (GEDOVA).</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Lattes: http://lattes.cnpq.br/1381000357023652</small>
              </div>
            </div>
            <div class="card">
              <img src="/static/img/imagens da apresentação/ft5.png" class="card-img-top " alt="Egle Katarinne">
              <div class="card-body">
                <h5 class="card-title">Egle Katarinne Souza da Silva (Colaboradora)</h5>
                <p class="card-text">Mestra em Sistemas Agroindustriais no Programa de Pós-Graduação em Sistemas Agroindustriais (PPGSA) do Centro de Ciências e Tecnologia Agroalimentar (CCTA) da Universidade Federal de Campina Grande (UFCG). Especialista em Química Tecnológica e Meio Ambiente pela Faculdade São Francisco da Paraíba e em Docência do Ensino Superior pela Universidade Cândido Mendes. Licenciada em Química no Centro de Formação de Professores (CFP) da UFCG. Gestora da Escola Cidadã Integral Técnica Cristiano Cartaxo. Colaboradora do Grupo de Estudos e Desenvolvimento de Objetos Virtuais de Aprendizagem (GEDOVA).</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Lattes: http://lattes.cnpq.br/8869987622346680</small>
              </div>
            </div>
            <div class="card">
              <img src="/static/img/imagens da apresentação/ft6.png" class="card-img-top" alt="Érica Edmajan">
              <div class="card-body">
                <h5 class="card-title">Érica Edmajan de Abreu <br>(Colaboradora)</h5>
                <p class="card-text">Mestranda em Ensino de Ciências e Educação Matemática pela Universidade Estadual da Paraíba (UEPB). Pós-graduanda em Matemática pelo Instituto Federal da Paraíba (IFPB). Licenciada em Matemática no Centro de Formação de Professores (CFP) da Universidade Federal de Campina Grande (UFCG). Colaboradora do Grupo de Estudos e Desenvolvimento de Objetos Virtuais de Aprendizagem (GEDOVA).</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Lattes: http://lattes.cnpq.br/5785884376253814</small>
              </div>
            </div>
          </div>
      </div>
      <div class="card">
        <div class="card-group">
          <div class="card">
            <img src="/static/img/imagens da apresentação/ft7.png" class="card-img-top" alt="Felícia Maria">
            <div class="card-body">
              <h5 class="card-title">Felícia Maria Fernandes de Oliveira (Colaboradora)</h5>
              <p class="card-text">Mestranda em Ensino pela Universidade Estadual do Rio Grande do Norte (UERN). Especialista em Química Tecnológica e Meio Ambiente pela instituição Faculdade São Francisco da Paraíba (FASP). Graduada em Química pela Universidade Federal de Campina Grande (UFCG).    Professora da Rede Estadual de Ensino da Paraíba. Realiza pesquisas na área de Química, com 
                ênfase em Ensino de Química, Tecnologias para o ensino de Química e Química Ambiental.
                </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Lattes: http://lattes.cnpq.br/7386535810578105</small>
            </div>
          </div>
          <div class="card">
            <img src="/static/img/imagens da apresentação/ft8.png" class="card-img-top " alt="Maria de Jesus">
            <div class="card-body">
              <h5 class="card-title">Maria de Jesus Florêncio da Silva (Colaboradora)</h5>
              <p class="card-text">Graduada em Pedagogia pela Universidade do Vale do Acaraú. Professora de Educação Básica com mais de 20 anos de experiência na Educação Infantil e no primeiro ano do Ensino Fundamental. Colaboradora do Grupo de Estudos e Desenvolvimento de Objetos Virtuais de Aprendizagem (GEDOVA).</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Lattes: http://lattes.cnpq.br/0814059979807498</small>
            </div>
          </div>
          <div class="card">
            <img src="/static/img/imagens da apresentação/ft9.png" class="card-img-top" alt="Pablo Roberto">
            <div class="card-body">
              <h5 class="card-title">Pablo Roberto Fernandes de Oliveira (Colaborador)</h5>
              <p class="card-text">Mestre em Ciência da Computação pelo Programa de Pós-Graduação em Ciência da Computação (PPgCC) da Universidade Federal Rural do Semi-Árido (UFERSA) e Universidade do Estado do Rio Grande do Norte (UERN). Graduado em Computação pela Universidade Estadual da Paraíba (UEPB).</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Lattes: http://lattes.cnpq.br/0915548065257807</small>
            </div>
          </div>
        </div>
    </div>
      
          
        </div>
{% endblock %}
       