{% extends "template.html" %}
{% block conteudo %}   
<style>
  .conteudo-central {
    text-align: justify;
  }
</style>  
        <div class="conteudo-central" id="div-lateral">
          <br>
          <br>
          Além das linguagens de programação, existem algumas ferramentas que possibilitam o desenvolvimento de Objetos Virtuais de Aprendizagem, com as quais é possível desenvolver OVA sem necessariamente ter conhecimento sobre programação. A lista abaixo apresenta algumas dessas ferramentas.
          <ul>
            <li>PowerPoint</li>
            <li>Hot Potatoes</li>
            <li>Schatch</li>
          </ul>
        </div>
{% endblock %}
       