{% extends "template.html" %}
{% block conteudo %}   
<style>
  h3 {
      margin-top: 20px;
      text-align: center;
  }   
  .conteudo-central {
    margin-top: 20px;
  }
  .conteudo-central {
    text-align: justify;
  }
  
  </style>

        <div class="conteudo-central" id="div-lateral">
          <h3>Objetivos Geral</h3>
          Colaborar no processo de ensino e aprendizagem através do estudo, desenvolvimento e disponibilização de Objetos Virtuais de Aprendizagem para auxiliar em atividades de ensino, pesquisa e extensão.
          <h3>Objetivos Específicos</h3>
          <ul>
            <li>Estudar ferramentas e metodologias para o desenvolvimento de Objetos Virtuais de Aprendizagem;</li>
            <li>Desenvolver OVA abrangendo diverso conteúdos relativos a disciplinas que compõem os níveis de ensino;</li>
            <li>Fazer a validação e avaliação de Objetos Virtuais de Aprendizagem;</li>
            <li>Disponibilizar os OVAs desenvolvidos no GEDOVA de forma gratuita para que possam ser utilizados pelos docentes e discentes de modo que eles também sugiram melhorias a serem implementadas;</li>
            <li>Realização atividades formativas para utilização e desenvolvimento os Objetos Virtuais de Aprendizagem;</li>
            <li>Publicação de artigos em períodos e/ou em eventos nacionais e/ou internacionais, e livros impressos e/ou digitais, para divulgação dos resultados das atividades do projeto.</li>
          </ul>

        </div>
{% endblock %}
       