{% extends "template.html" %}
{% block conteudo %}   

<style>
  h5 {
    margin: 10px 0px;
  }

  .primeiro-h5 {
    margin-top: 30px;
  }
</style>

        <div class="conteudo-central" id="div-lateral">
          Publicações de artigos em periódicos nacionais e internacionais. Publicações de livros no formato impresso e/ou digital.
          <h5 class="primeiro-h5">Artigos em Eventos Nacionais</h5>
          Aqui terá uma lista por ordenada primeiro por ordem cronológica decrescente e depois em ordem alfabética
          <h5>Artigos em Eventos Internacionais</h5>
          Aqui terá uma lista por ordenada primeiro por ordem cronológica decrescente e depois em ordem alfabética
          <h5>Livros</h5>
          Aqui terá uma lista por ordenada primeiro por ordem cronológica decrescente e depois em ordem alfabética
        </div>
        <br>
        <br>
        <h3>Links para download</h3>
        <ul>
          <li><a href="/static/downloads/E-Book OBJETOS VIRTUAIS DE APRENDIZAGEM - Versão Final.pdf" style="color: black; text-decoration: underline;">E-book GEDOVA</a></li>
        </ul>
{% endblock %}
       