{% extends "template.html" %}
{% block conteudo %} 
<style>
  .conteudo-central {
    text-align: justify;
  }
</style>  
        <div class="conteudo-central" id="div-lateral">
          Os Objetos Virtuais de Aprendizagem podem ser disponibilizados em qualquer espaço informacional digital que suporte os formatos nos quais são desenvolvidos. Contudo, existem os Repositórios de Objetos Virtuais de Aprendizagem (ROVA) que são construídos com este propósito de disponibilização de Objetos Virtuais de Aprendizagem.
          <br>
          <br>
          <p>Como forma de facilitar o acesso aos Objetos Virtuais de Aprendizagem, o GEDOVA disponibiliza a relação de sites que considera com repositórios, mesmo que em alguns casos os próprios sites não se denominem como repositórios, mas pelas suas características, o GEDOVA os entendem como tal. A lista abaixo apresenta alguns desses repositórios.</p>
          <ul>
            <li>Escola Digital</li>
            <li>EduCapes</li>
            <li>Portal do Professor</li>
            <li>Domínios Público</li>
          </ul>
        </div>
{% endblock %}
       