{% extends "template.html" %}
{% block conteudo %}    
        <div class="conteudo-central">
            <input class="form-control" type="text" placeholder="Breadcrumb">
            <br>
            <h3>Objetivos Geral:</h3>
            <p>Colaborar no processo de ensino e aprendizagem através do estudo, desenvolvimento 
                e disponibilização de Objetos Virtuais de Aprendizagem (OVAs) para auxiliar em atividades de ensino, pesquisa e extensão.</p>
            <h3>Objetivos Específicos:</h3>
            <ul>
                <li>Estudar ferramentas e metodologias para o desenvolvimento de Objetos Virtuais de Aprendizagem;</li>
                <li>Desenvolver OVAs abrangendo diverso conteúdos relativos a disciplinas que compõem os níveis de ensino;</li>
                <li>Fazer a validação e avaliação de Objetos Virtuais de Aprendizagem;</li>
                <li>Disponibilizar os OVAs desenvolvidos no GEDOVA de forma gratuita para que possam ser utilizados pelos docentes e discentes de modo que eles também sugiram melhorias a serem implementadas;</li>
                <li>Realização atividades formativos utilizando os Objetos Virtuais de Aprendizagem.</li>
            </ul>
        </div>
{% endblock %}
       